[Desktop Entry]
Name=Zápisky
Exec=/home/Git/magic-links/my-uri-handler.py %u
# Icon=notes-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/notes;
