[Desktop Entry]
Name=Spooler
Exec=/home/Git/magic-links/my-uri-handler.py %u
Icon=applications-utilities
Type=Application
Terminal=false
MimeType=x-scheme-handler/spooler;
